*, *:after, *:before { box-sizing: border-box; }

body{
    background-color: #c0c0c0;
}
.container{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.form{}
.form-header{   
     background-color: #c43e3d;
     padding: 20px;
     border-radius: 10px 10px 0px 0px;
}
.form-header i{    
    font-size: 18px;
    color: white;}
.form-header span{
    padding-left: 10px;
    color: white;
    font-size: 18px;
}
.form-items form{
    padding: 20px;
    color: #a2a1a1;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}
.form-items form label{
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
}
}
.form-items form input{
}
input[type="text"] {
    padding: 4px;
    width: 100%;
}
.form-items form div{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.form-items form button{
    background-color: #32cc76;
    border: 0px;
    padding: 5px 20px;
}
.form-items form button a{
    color: white;
}
